<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>SuperRentals</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="about" class="menu-about">
      About
    </LinkTo>
    <LinkTo @route="contact" class="menu-contact">
      Contact
    </LinkTo>
  </div>
  <div class="social-media">
    <a href="https://github.com/jgragim/super-rentals" target="_blank">
      <FaIcon @icon="square-github" @prefix="fab" />
    </a>
    <a href="https://www.linkedin.com/in/javier-gracia-gimeno/" target="_blank">
      <FaIcon @icon="linkedin" @prefix="fab" />
    </a>
  </div>
</nav>